.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.marker {
  background-image: url('pin.webp');
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 300px;
  max-height: 250px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  width: 200%;
  overflow: auto;
}

.mapboxgl-popup--brown .mapboxgl-popup-content{
    background-color: #ccae8d;
    padding:20px;
    color: white;
    max-width:none;
    border-color: #ccae8d;
    box-shadow: 5px 5px 3px #2c1f12;
}
